.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 150px;
}

.portfolio__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        justify-items: center; /* Adjusting grid layout for small screens */
       
    }
    .portfolio__item {
        width: 80%;
        padding: 1rem; /* Adjusting padding for each portfolio item on medium screens */
    }

    .portfolio__item h3 {
        margin: 1rem 0 1.5rem;
        font-size: 1rem; /* Adjusting margin for h3 on small screens */
    }

   

    .portfolio__item-cta a{
        font-size: 0.8rem;
        padding: 0.8rem;
    }
}


/* Media Query for Small Devices (301px to 600px) */
@media only screen and (min-width: 401px) and (max-width: 450px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        justify-items: center; /* Adjusting grid layout for small screens */
       
         
    }
    .portfolio__item {
        width: 80%;
        padding: 1rem; /* Adjusting padding for each portfolio item on medium screens */
    }

    .portfolio__item h3 {
        margin: 1rem 0 1.5rem;
        font-size: 1rem; /* Adjusting margin for h3 on small screens */
    }

    .portfolio__item-cta a{
        font-size: 0.9rem;
    }
}

/* Media Query for Medium Devices (601px to 768px) */
@media only screen and (min-width: 451px) and (max-width: 680px) {
    .portfolio__container {
        grid-template-columns: 1fr; /* Adjusting grid layout for medium screens */
        justify-items: center; /* Adjusting the gap between grid items for medium screens */
    }
  
    .portfolio__item {
        width: 80%; /* Adjusting padding for each portfolio item on medium screens */
    }
  
  }

/* Media Query for Large Devices (769px to 1024px) */
@media only screen and (min-width: 681px) and (max-width: 1150px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr; /* Adjusting grid layout for large screens */
    }

}


