/* Common styles for all screen sizes */
.education-container {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 4px solid;
    border-color: var(--color-bg-variant);
    
}

.education-container:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.education {
    display: grid;
    grid-template-columns: 65% 35%;
}

.education-header,
.education-footer {
    padding: 0.5rem;
    
}

.education-footer {
    margin-left: auto;
    
}



.education h3 {
    color: var(--color-primary);
    
}

.education p {
    color: var(--color-white);
    
}

/* Media Query for Large Devices (769px to 1024px) */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    .education-container {
        padding: 0.5rem;
    }
    .education h3 {
        font-size: 0.9rem;
    }

    .education p {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 301px) and (max-width: 400px) {
    .education-container {
        padding: 0.5rem;
    }
    .education h3 {
        font-size: 0.6rem;
    }

    .education p {
        font-size: 0.4rem;
    }
}

@media only screen and (max-width: 300px) {
    .education {
        grid-template-columns: 1fr;
    }
    .education-footer {
        margin-left: 0;
        
    }

    .education-container {
        padding: 0.5rem;
    }
    .education h3 {
        font-size: 0.5rem;
    }

    .education p {
        font-size: 0.4rem;
    }
}


