
.education-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.education {
    display: flex;
    position: relative;
}

.timeline-dot {
    background: var(--color-primary);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--color-bg-variant);
    margin-right: 1rem;
}

.education h3 {
    color: var(--color-primary);
    font-size: 1.3rem;
}

.education p {
    color: var(--color-text);
    font-size: 1rem;
}

.education-content {
    flex-grow: 1;
}

.education-footer {
    display: flex;
    justify-content: space-between;
}

.duration {
    text-align: right;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
    .education-container {
        gap: 1rem;
    }

    .timeline-dot {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    .education h3 {
        font-size: 1.2rem;
    }

    .education p {
        font-size: 0.9rem;
    }
}
