.header__container {
    display: grid;
    grid-template-columns: 48% 42%;
    gap: 10%;
}

.header__content {
    margin-top: 3rem;
}


.header__content h1 {
    font-size: 2.4rem;
    color: var(--color-primary); 
}

.header__content h5 {
    font-size: 1.2rem;
    color: #f19924; 
}

.header__content p {
    color: var(--color-white);
    text-align : justify;
    font-size: 1rem;
}

.me {
    margin-top: 4rem;
    margin-left: auto; /* Move to the right end */
    background: radial-gradient(circle at center, var(--color-primary), #2c3e50);
    width: 22rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: grid;
    border: 8px solid rgba(77, 181, 255, 0.4);
}



.me img {
   width: 100%;
}

.cta {
    margin-top: 2rem;
    display: flex;
   gap: 1rem;
}

.cta a{
    width: 10rem;
    font-size: 0.9rem;
}

.header__socials {
    margin-top: 2rem;
    display: flex;
    gap: 0.7rem;
}

.social__icon {
    color: (--color-primary); 
    font-size: 1.8rem;
    transition: color 0.3s ease-in-out;
}

.social__icon:hover {
    color: (--color-white); 
}

.cta svg {
    vertical-align: middle;
    margin-right: 0.4rem;
    font-size: 1rem;
  }

  .header__socials svg {
    font-size: 2rem;
  }


/* Media Query for Small Devices (301px to 600px) */
@media only screen and (min-width: 301px) and (max-width: 600px) {
    .header__container {
        display: flex;
        flex-direction: column; /* Change to column layout for small screens */
        gap: 1rem; 
        justify-items: center;
    }

    .me {
        margin-top: 1rem;
        width: 16rem;
        margin-left: auto; /* Move to the right end on small screens */
        margin-right: auto; /* Center the image horizontally on small screens */
        order: 1; /* Change the order to 1 to show at the top */
    }

    .header__content {
        order: 2; /* Change the order to 2 to show below the image */
    }

    .header__content h1 {
        font-size: 1.8rem;
    }

    .header__content h5 {
        font-size: 1rem;
    }
    
    .header__content p {
        font-size: 0.8rem;
    }
    
    .cta a {
        font-size: 0.6rem;
        width: 7.5rem;
    }
    
    .cta svg {
        font-size: 0.8rem;
    }
    
    .header__socials svg {
        font-size: 1.6rem;
    }
}



@media only screen and (min-width: 601px) and (max-width: 768px) {
   
    .header__container {
        grid-template-columns: 1fr; 
        gap: 1rem; 
        justify-items: center;
    }
    .header__icons {
        display: flex;
        justify-content: space-between;
    }
    
    .me {
        margin-top: 1rem;
        width: 20rem;
        margin-left: 0;
    }
    .header__content h1 {
        font-size: 2rem;
    }
    .header__content h5 {
        font-size: 1.1rem;
    }
    
    .header__content p {
        font-size: 0.9rem;
    }
  
    .cta a{
        font-size: 0.7rem;
        width: 9rem;
    }
    .header__socials svg {
        font-size: 2rem;
      }
} 

/* Media Query for Large Devices (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header__container {
        grid-template-columns: 45% 50%;
        gap:5%; 
    }
    .me {
        margin-top: 6rem;
        width: 19rem; 
    }
    .header__content h1 {
        font-size: 2rem;
    }
    .header__content h5 {
        font-size: 1.1rem;
    }
    
    .header__content p {
        font-size: 0.9rem;
    }
    .cta a{
        font-size: 0.7rem;
        width: 9rem;
    }
    .header__socials svg {
        font-size: 1.6rem;
      }
}

