.header__container {
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
}

.header__content {
    margin-top: 3rem;
}


.header__content h1 {
    font-size: 2.5rem;
    color: var(--color-primary); 
}

.header__content h5 {
    font-size: 1.2rem;
    color: #ec8b0c; 
}

.header__content p {
    color: var(--color-white);
    text-align : justify;
}

.me {
    margin-top: 5rem;
    background: radial-gradient(circle at center, var(--color-primary), #2c3e50);
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: grid;
    border: 8px solid rgba(77, 181, 255, 0.4);
}


.me img {
   width: 100%;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
}

.header__socials {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.6rem;
}

.social__icon {
    color: (--color-primary); 
    font-size: 1.8rem;
    transition: color 0.3s ease-in-out;
}

.social__icon:hover {
    color: (--color-white); 
}

.cta svg {
    vertical-align: middle;
    margin-right: 0.4rem;
    font-size: 1.5rem;
  }

  .header__socials svg {
    font-size: 2rem;
  }


 /* Media Query for Small Devices (301px to 600px) */
@media only screen and (min-width: 301px) and (max-width: 600px) {
    .header__container {
        grid-template-columns: 1fr; /* Adjusting grid layout for small screens */
        gap: 2rem; /* Adjusting the gap between grid items */
        justify-items: center;
    }

    .header__content {
        margin-top: 2rem; /* Adjusting margin-top for header__content on small screens */
    }

    .header__content h1 {
        font-size: 2rem;
    }

    .header__content p {
        font-size: 0.8rem; /* Adjusting font-size for the <p> tag on small screens */
    }

    .me {
        margin-top: 1rem; /* Adjusting margin-top for .me on small screens */
        width: 70%;
    }
}

/* Media Query for Medium Devices (601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header__container {
        grid-template-columns: 1fr; /* Adjusting grid layout for medium screens */
        gap: 3rem; /* Adjusting the gap between grid items on medium screens */
        justify-items: center;
    }

    .header__content {
        margin-top: 2rem; /* Adjusting margin-top for header__content on medium screens */
    }

    .me {
        margin-top: 1rem; /* Adjusting margin-top for .me on medium screens */
        width: 50%;
    }
}

/* Media Query for Large Devices (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header__container {
        grid-template-columns: 1fr; /* Adjusting grid layout for large screens */
        gap: 1rem; /* Adjusting the gap between grid items on large screens */
        justify-items: center;
    }

    .me {
        margin-top: 1rem; /* Adjusting margin-top for .me on large screens */
        width: 50%;
    }
}


