@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0; /* Set margin to zero */
  padding: 0; /* Set padding to zero */
  border: 0; /* Set border to zero */
  outline: 0; /* Remove outline */
  box-sizing: border-box; /* Use border-box box-sizing */
  list-style: none; /* Remove list styling */
  text-decoration: none; /* Remove text decoration */
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}

::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (like Chrome and Safari) */
}

body {
  font-family: "Poppins", sans-serif; /* Set the font family for the body text */
  background: var(
    --color-bg
  ); /* Set the background color using a custom variable */
  color: var(
    --color-white
  ); /* Set the text color using a custom variable */ /* Set the line height for better readability */
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-black: #000000;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 90%;
  --container-width-md: 95%;
  --container-width-sm: 98%;
  --transition: all 400ms ease;
}

/*-----------general styles--------------*/
.container {
  width: var(
    --container-width-lg
  ); /* Set the width of the container using a custom variable for a large size */
  margin: 0 auto; /* Center the container horizontally by setting left and right margins to auto */
}

section {
  padding-top: 3rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

/*------------------------media quaries---------------*/

@media only screen and (min-width: 301px) and(max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: var(--container-width-lg);
  }
}

@media only screen and (max-width: 300px) {
  section > h2 {
    font-size: medium;
  }
}
